body {
    background-image: url('/img/vacha.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

img {
    border-radius: 50%;
}

.btn {
    font-size: 25px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.3s;
}



