body {
    background-image: url('/img/dam1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

img {
    border-radius: 50%;
}



