<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Dams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div th:replace="/fragments/navbar :: nav"></div>
<div class="container-fluid">
    <h5 class="text-center text-white mt-5 fs-2">
        Explore all dams.
    </h5>
</div>

<div class="container mt-5">
    <div class="row row-cols-12">
        <div class="col-12 col-lg-4 mb-3"
             th:each="dam : ${dams}" th:object="${dam}">
            <div class="card">
                <img th:src="*{imageUrl}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-text">
                        <p class="fw-bold">Name:
                            <span th:text="*{name}"></span>
                        </p>
                        <p class="fw-bold"> Description:
                            <span class="d-block text-truncate max-width: 250px"
                                  th:text="*{description}"></span>
                        </p>
                    </div>
                    <a th:href="@{/details/{id}(id=*{id})}" class="btn btn-outline-dark">Details</a>
                </div>
            </div>
        </div>
        <!--        <div class="col-12 col-lg-4 mb-3">-->
        <!--            <div class="card" style="width: 18rem;">-->
        <!--                <img src="/images/fish1.jpg" class="card-img-top" alt="...">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="card-text">-->
        <!--                        <p class="">Name:-->
        <!--                            <span th:text="Vacha"></span>-->
        <!--                        </p>-->
        <!--                        <p> Description:-->
        <!--                            <span class="d-block text-truncate" style="max-width: 120px;"-->
        <!--                                  th:text="sadanjsdajnadsjnadsjnadsjniadjdsdasjaddajdjdsjndjniajniajnias"></span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                    <a href="#" class="btn btn-outline-dark">Details</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-12 col-lg-4 mb-3">-->
        <!--            <div class="card" style="width: 18rem;">-->
        <!--                <img src="/images/vacha.jpg" class="card-img-top" alt="...">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="card-text">-->
        <!--                        <p class="">Name:-->
        <!--                            <span th:text="Vacha"></span>-->
        <!--                        </p>-->
        <!--                        <p> Description:-->
        <!--                            <span class="d-block text-truncate" style="max-width: 120px;"-->
        <!--                                  th:text="sadanjsdajnadsjnadsjnadsjniadjdsdasjaddajdjdsjndjniajniajnias"></span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                    <a href="#" class="btn btn-outline-dark">Details</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-12 col-lg-4 mb-3">-->
        <!--            <div class="card" style="width: 18rem;">-->
        <!--                <img src="/images/vacha.jpg" class="card-img-top" alt="...">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="card-text">-->
        <!--                        <p class="">Name:-->
        <!--                            <span th:text="Vacha"></span>-->
        <!--                        </p>-->
        <!--                        <p> Description:-->
        <!--                            <span class="d-block text-truncate" style="max-width: 120px;"-->
        <!--                                  th:text="sadanjsdajnadsjnadsjnadsjniadjdsdasjaddajdjdsjndjniajniajnias"></span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                    <a href="#" class="btn btn-outline-dark">Details</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-12 col-lg-4 mb-3">-->
        <!--            <div class="card" style="width: 18rem;">-->
        <!--                <img src="/images/vacha.jpg" class="card-img-top" alt="...">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="card-text">-->
        <!--                        <p class="">Name:-->
        <!--                            <span th:text="Vacha"></span>-->
        <!--                        </p>-->
        <!--                        <p> Description:-->
        <!--                            <span class="d-block text-truncate" style="max-width: 120px;"-->
        <!--                                  th:text="sadanjsdajnadsjnadsjnadsjniadjdsdasjaddajdjdsjndjniajniajnias"></span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                    <a href="#" class="btn btn-outline-dark">Details</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-12 col-lg-4 mb-3">-->
        <!--            <div class="card" style="width: 18rem;">-->
        <!--                <img src="/images/vacha.jpg" class="card-img-top" alt="...">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="card-text">-->
        <!--                        <p class="">Name:-->
        <!--                            <span th:text="Vacha"></span>-->
        <!--                        </p>-->
        <!--                        <p> Description:-->
        <!--                            <span class="d-block text-truncate" style="max-width: 120px;"-->
        <!--                                  th:text="sadanjsdajnadsjnadsjnadsjniadjdsdasjaddajdjdsjndjniajniajnias"></span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                    <a href="#" class="btn btn-outline-dark">Details</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>