<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div th:replace="/fragments/navbar :: nav"></div>

<div class="container">
    <h2 class="text-center text-white mt-3">Fill the register form</h2>
    <form th:method="POST" th:action="@{/users/register}" th:object="${userRegisterDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center mt-1">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="username">Username</label>
                <input th:field="*{username}" id="username" name="username" type="text"
                       th:errorclass="is-invalid"
                       class="myCustom form-control"
                       placeholder="Username"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:each="err : ${#fields.errors('username')}"
                           th:text="${err}"></small>
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="email">Email</label>
                <input th:field="*{email}" id="email" name="email" type="text"
                       th:errorclass="is-invalid"
                       class="myCustom form-control"
                       placeholder="Email"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:each="err : ${#fields.errors('email')}"
                           th:text="${err}"></small>
                </p>

            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="firstName">First Name</label>
                <input th:field="*{firstName}" th:errorclass="is-invalid" id="firstName" name="firstName" type="text"
                       class="myCustom form-control"
                       placeholder="First Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></small>
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="lastName">Last Name</label>
                <input th:field="*{lastName}" th:errorclass="is-invalid" id="lastName" name="lastName" type="text"
                       class="myCustom form-control"
                       placeholder="Last Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}"></small>
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="password">Password</label>
                <input th:field="*{password}" th:errorclass="is-invalid" id="password" name="password" type="password"
                       class="myCustom form-control"
                       placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:each="err : ${#fields.errors('password')}"
                           th:text="${err}"></small>
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white fs-5 font-weight-bold" for="confirmPassword">Confirm
                    Password</label>
                <input th:field="*{confirmPassword}" th:errorclass="is-invalid" id="confirmPassword"
                       name="confirmPassword" type="password"
                       class="myCustom form-control"
                       placeholder="Confirm Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    <small th:each="err : ${#fields.errors('confirmPassword')}"
                           th:text="${err}"></small>
                </p>
            </div>

            <div class="form-group">
                <button type="submit" class="form-control btn btn-outline-dark submit px-3">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>